{{define "consultar"}}
{{template "Inicio"}}



    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>usuario</th>
                <th>fecha creaciòn</th>
                <th>fecha actualizaciòn</th>
                <th>estado</th>
            </tr>
        </thead>
        <tbody>
        {{range. }}

            <tr>
                <td>{{.ID}}</td>
                <td>{{.USUARIO}}</td>
                <td>{{.FECHA_CRE}}</td>
                <td>{{.FECHA_UPD}}</td>
                <td>{{.ESTADO}}</td>
                <td>Las acciones permitidas son: |
                <a name="" id="" class="btn-warning" href="/eliminar?ID={{.ID}}" role="button">Eliminar</a>
                |
                <a name="" id="" class="btn-warning" href="/editar?ID={{.ID}}" role="button">Editar</a>
                          
                </td>
            </tr>

        {{end}}
    <a name="" id=""   href="/crear" role="button">Crear Ticket</a> <br>
    <a name="" id=""   href="/crear" role="button">Buscar Ticket</a> <br>

        </tbody>
    </table>

    
{{template "Fin"}}
{{end}}