{{define "consultar"}}
{{template "Inicio"}}


    <a name="" id="" class="btn btn-primary"  href="/crear" role="button">Crear Ticket</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>usuario</th>
                <th>fecha creaciòn</th>
                <th>fecha actualizaciòn</th>
                <th>estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2</td>
                <td>gilberth</td>
                <td>22-10-2021</td>
                <td>21-10-2021</td>
                <td>activo</td>
            </tr>

        </tbody>
    </table>
{{template "Fin"}}
{{end}}