{{define "consultar"}}
{{template "Inicio"}}


    <a name="" id="" class="btn btn-primary"  href="/crear" role="button">Crear Ticket</a>
    <a name="" id=""   href="/crear" role="button">Buscar Ticket</a>


        </tbody>
    </table>
{{template "Fin"}}
{{end}}